<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sign-in</title>
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
    body {
      font-family: 'Roboto', sans-serif;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .login-card {
      padding: 40px;
      padding-top: 0px;
      padding-bottom: 10px;
      width: 274px;
      background-color: #F7F7F7;
      margin: 0 auto 10px;
      border-radius: 2px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      overflow: hidden;
    }

    .login-card h1 {
      font-weight: 100;
      text-align: center;
      font-size: 2.3em;
    }

    .login-card [type=submit] {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      position: relative;
    }

    .login-card input[type=text],
    input[type=email],
    input[type=password] {
      height: 44px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 10px;
      -webkit-appearance: none;
      background: #fff;
      border: 1px solid #d9d9d9;
      border-top: 1px solid #c0c0c0;
      padding: 0 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }

    .login-card input[type=text]:hover,
    input[type=email]:hover,
    input[type=password]:hover {
      border: 1px solid #b9b9b9;
      border-top: 1px solid #a0a0a0;
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .login {
      text-align: center;
      font-size: 14px;
      font-family: 'Arial', sans-serif;
      font-weight: 700;
      height: 36px;
      padding: 0 8px;
    }

    .login-submit {
      border: 0px;
      color: #fff;
      text-shadow: 0 1px rgba(0, 0, 0, 0.1);
      background-color: #4d90fe;
    }

    .login-submit:hover {
      border: 0px;
      text-shadow: 0 1px rgba(0, 0, 0, 0.3);
      background-color: #357ae8;
    }

    .login-card a {
      text-decoration: none;
      color: #666;
      font-weight: 400;
      text-align: center;
      display: inline-block;
      opacity: 0.6;
      transition: opacity ease 0.5s;
    }

    .login-card a:hover {
      opacity: 1;
    }

    .login-help {
      width: 100%;
      text-align: center;
      font-size: 12px;
    }

    .login-client-image img {
      margin-bottom: 20px;
    }

    .login-card input[type=checkbox] {
      margin-bottom: 10px;
    }

    .login-card label {
      color: #999;
      font-size: 16px;
    }

    .grant-debug {
      font-family: Fixed, monospace;
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: #999;
      padding-top: 10px;
    }

    button {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="login-card">
    <h1>Sign-in</h1>
    <form autocomplete="off" action="/interaction/<%= details.uuid %>/login" method="post">
      <input required type="email" name="email" placeholder="Enter an email" <% if (!details.params.login_hint) { %>autofocus="on"
      <% } else { %> value="
        <%= details.params.login_hint %>"
          <% } %>>
            <input required type="password" name="password" placeholder="and password" <% if (details.params.login_hint) { %>autofocus="on"
            <% } %>>

              <label>
                <input type="checkbox" name="remember" value="yes" checked="yes">Stay signed in</label>

              <button type="submit" name="submit" class="login login-submit">Sign-in</button>
    </form>
    <div class="login-help">
      <a href="<%= details.returnTo %>">[ Cancel ]</a>
    </div>
  </div>
  <div class="login-card">
    <div class="grant-debug">
      <%- JSON.stringify(details.interaction, null, 4) %>
    </div>
    <div class="grant-debug">
      <%- JSON.stringify(details.params, null, 4) %>
    </div>
  </div>
</body>

</html>